#navbar {
  line-height: 75px;
  color: rgb(31, 31, 31);
  width: 100%;
  background-color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

a:-webkit-any-link {
  color: rgb(31, 31, 31);
}

#about {
  margin-top: 100px;
}