#navbar {
  line-height: 75px;
  color: rgb(31, 31, 31);
  width: 100%;
  background-color: white;
  font-family: "OpenSans", "Arial", "sans-serif";
  font-size: 14px;
  text-decoration: none;
  font-weight: normal;
}

#navbar :hover {
  text-decoration: underline;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

a:-webkit-any-link {
  text-decoration: none;
}

.blue {
  color: rgb(42,115,204);
  font-weight: bold;
}

.gray {
  color: gray;
}

#about {
  margin-top: 100px;
}